* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e2d631;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 250px;
  margin-left: 30%;
}

.box .cub1 {
  width: 200px;
  height: 200px;
  background-color: #c64fd1;
  margin-right: 20px;
  -webkit-animation-name: cub1;
          animation-name: cub1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  border-radius: 50%;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes cub1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  16% {
    -webkit-transform: translate(0, 220px);
            transform: translate(0, 220px);
  }
  33% {
    -webkit-transform: translate(220px, 220px);
            transform: translate(220px, 220px);
  }
  49% {
    -webkit-transform: translate(220px, 0);
            transform: translate(220px, 0);
  }
  66% {
    -webkit-transform: translate(220px, 0);
            transform: translate(220px, 0);
  }
  84% {
    -webkit-transform: translate(220px, 0);
            transform: translate(220px, 0);
  }
  100% {
    -webkit-transform: translate(220px, 0);
            transform: translate(220px, 0);
  }
}

@keyframes cub1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  16% {
    -webkit-transform: translate(0, 220px);
            transform: translate(0, 220px);
  }
  33% {
    -webkit-transform: translate(220px, 220px);
            transform: translate(220px, 220px);
  }
  49% {
    -webkit-transform: translate(220px, 0);
            transform: translate(220px, 0);
  }
  66% {
    -webkit-transform: translate(220px, 0);
            transform: translate(220px, 0);
  }
  84% {
    -webkit-transform: translate(220px, 0);
            transform: translate(220px, 0);
  }
  100% {
    -webkit-transform: translate(220px, 0);
            transform: translate(220px, 0);
  }
}

.box .cub2 {
  width: 200px;
  height: 200px;
  background-color: #c64fd1;
  margin-bottom: 20px;
  -webkit-animation-name: cub2;
          animation-name: cub2;
  border-radius: 50%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes cub2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  16% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  49% {
    -webkit-transform: translate(0, -220px);
            transform: translate(0, -220px);
  }
  66% {
    -webkit-transform: translate(-220px, -220px);
            transform: translate(-220px, -220px);
  }
  84% {
    -webkit-transform: translate(-220px, 0);
            transform: translate(-220px, 0);
  }
  100% {
    -webkit-transform: translate(-220px, 0);
            transform: translate(-220px, 0);
  }
}

@keyframes cub2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  16% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  49% {
    -webkit-transform: translate(0, -220px);
            transform: translate(0, -220px);
  }
  66% {
    -webkit-transform: translate(-220px, -220px);
            transform: translate(-220px, -220px);
  }
  84% {
    -webkit-transform: translate(-220px, 0);
            transform: translate(-220px, 0);
  }
  100% {
    -webkit-transform: translate(-220px, 0);
            transform: translate(-220px, 0);
  }
}
/*# sourceMappingURL=style.css.map */